body {
    font-family: Arial, sans-serif;
}

p {
    text-align: justify;
    text-indent: 25px;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

footer {
    text-indent: 0px;
    text-align: center;
    font-size: 6pt;
}


