{% extends "supermarket/layout.html" %}

{% block titulo %} SuperMarket - Contato {% endblock %}

{% block menu_lateral_esquerdo %}

{% endblock %}

{% block menu_lateral_direito %}

{% endblock %}

{% block principal %}
    <section xmlns="http://www.w3.org/1999/html">
        <br>
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">Thiago José Sampaio Kaiser</div>
                <div class="panel-body">thiago.kaiser@ifro.edu.br<br>(69) 98488-8660</div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">Juliano Cristhian Silva</div>
                <div class="panel-body">juliano@ifro.edu.br<br>(69) 99222-5284</div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">Saiane de Barros Souza</div>
                <div class="panel-body">saiane.souza@ifro.edu.br<br>(69) 98465-3135</div>
            </div>
        </div>
    </section>
{% endblock %}