{% extends "supermarket/layout.html" %}

{% block titulo %} SuperMarket - Contato {% endblock %}

{% block menu_lateral_esquerdo %}

{% endblock %}

{% block menu_lateral_direito %}

{% endblock %}

{% block principal %}
    <section xmlns="http://www.w3.org/1999/html">
        <br>
        <div id="about" class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <p><span class="glyphicon glyphicon-map-marker"></span> Cacoal/RO</p>
                    <p><span class="glyphicon glyphicon-envelope"></span> <a
                            href="mailto:thiago.kaiser@ifro.edu.br?Subject=Contato SuperMarket" target="_top">thiago.kaiser@ifro.edu.br</a>
                    </p>
                    <p><span class="glyphicon glyphicon-envelope"></span> <a
                            href="mailto:juliano@ifro.edu.br?Subject=Contato SuperMarket" target="_top">juliano@ifro.edu.br</a>
                    </p>
                    <p><span class="glyphicon glyphicon-envelope"></span> <a
                            href="mailto:saiane.souza@ifro.edu.br?Subject=Contato SuperMarket" target="_top">saiane.souza@ifro.edu.br</a>
                    </p>
                </div>
            </div>
        </div>
{#        <div class="panel panel-success">#}
{#            <div class="panel-heading"><p>Entre em contato conosco.</p></div>#}
{#            <div class="panel-body">#}
{#                <p><span class="glyphicon glyphicon-map-marker"></span> Cacoal/RO</p>#}
{#                <p><span class="glyphicon glyphicon-envelope"></span> <a#}
{#                        href="mailto:thiago.kaiser@ifro.edu.br?Subject=Contato SuperMarket" target="_top">thiago.kaiser@ifro.edu.br</a>#}
{#                </p>#}
{#                <p><span class="glyphicon glyphicon-envelope"></span> <a#}
{#                        href="mailto:juliano@ifro.edu.br?Subject=Contato SuperMarket"#}
{#                        target="_top">juliano@ifro.edu.br</a>#}
{#                </p>#}
{#                <p><span class="glyphicon glyphicon-envelope"></span> <a#}
{#                        href="mailto:saiane.souza@ifro.edu.br?Subject=Contato SuperMarket" target="_top">saiane.souza@ifro.edu.br</a>#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
    </section>
{% endblock %}