{% extends "supermarket/layout.html" %}

{% block titulo %} SuperMarket {% endblock %}

{% block menu_lateral_esquerdo %}

{% endblock %}

{% block menu_lateral_direito %}

{% endblock %}

{% block principal %}
    <section xmlns="http://www.w3.org/1999/html">
        <h1>SuperMarket</h1>
        <h3>Uma nova experiência em pesquisa de produtos de supermercados</h3>
        <br><br><br>
        {% load static %}
        <img class="img-responsive" src=" {% static '/img/logo_top.png' %}" alt="SuperMarket">
    </section>
{% endblock %}