{% extends "supermarket/layout.html" %}
{% block class_home %} class="active" {% endblock %}
{% block titulo %} SuperMarket {% endblock %}

{% block menu_lateral_esquerdo %}

{% endblock %}

{% block menu_lateral_direito %}

{% endblock %}

{% block principal %}
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">SuperMarket</h2>
            Uma nova experiência em pesquisa de produtos de supermercados
            <br><br>
        </div>
        {% load static %}
        <img class="img-responsive" src=" {% static '/img/logo_top.png' %}" alt="SuperMarket">
    </div>

{% endblock %}