<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    {% block head %} {% endblock %}
    <title>{% block titulo %}SuperMarket{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/supermarket.css' %}">

    {% block link_css %} {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
    <style>
        {% block style %} {% endblock %}
    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% load static %}
            <a class="navbar-brand"><img src="{% static '/img/logo.png' %}" style="border-radius: 10%"
                                         height="160%"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li{% block class_home %}{% endblock %}><a href="{% url 'supermarket.home' %}"><span
                        class="glyphicon glyphicon-home"></span>
                    Home</a></li>
                <li{% block class_promocoes %}{% endblock %}><a href="{% url 'supermarket.promocoes' %}"><span
                        class="glyphicon glyphicon-shopping-cart"></span>
                    Promoções</a></li>
                <li {% block class_sobre %}{% endblock %}><a href="{% url 'supermarket.sobre' %}"><span
                        class="glyphicon glyphicon-question-sign"></span>
                    Sobre</a></li>
                <li{% block class_contato %}{% endblock %}><a href="{% url 'supermarket.contato' %}"><span
                        class="glyphicon glyphicon-envelope"></span> Contato</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'admin:login' %}" target="_blank"><span class="glyphicon glyphicon-log-in"></span>
                    Login</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-md-12">
            {% block principal %} {% endblock %}
        </div>
    </div>
</div>

<footer>
            IFRO - Instituto Federal de Educação, Ciência e Tecnologia de Rondônia
</footer>

</body>
</html>