{% extends "supermarket/layout.html" %}

{% block titulo %} SuperMarket - Novo Produto {% endblock %}

{% block menu_lateral_esquerdo %}

{% endblock %}

{% block menu_lateral_esquerdo %}
{#<p><a href="{% url 'supermarket.novo_produto' %}">Novo produto</a></p>#}
{% endblock %}

{% block principal %}
    <section xmlns="http://www.w3.org/1999/html">
        <br>
        <form action="" method="POST" class="post-form">
            {% csrf_token %}

            {% for campo in novo_produto %}
                <div class="form-group">
                    {{ campo.label }}{{ campo }}
                </div>
            {% endfor %}

            <input type="submit" class="btn btn-primary" value="Cadastrar">
            <input type="button" class="btn btn-danger" value="Cancelar">
        </form>
    </section>
{% endblock %}