{% extends "layout.html" %}
{% block titulo %}Novo produto - Mercado com desconto{% endblock %}


{% block principal %}
    <section class="section-content">
        <div class="container">
            <form action="" method="POST" class="post-form">
                {% csrf_token %}

                {% for campo in novo_produto %}
                    <div class="form-group">
                        {{ campo.label }}{{ campo }}
                    </div>
                {% endfor %}

                <input type="submit" class="btn btn-success" value="Cadastrar">
                <input type="reset" class="btn btn-danger" value="Cancelar">
            </form>
        </div>
    </section>
{% endblock %}