{% extends "layout.html" %}
{% block titulo %}Produtos - SuperMarket{% endblock %}
{% load static %}

{% block principal %}
    <section class="section-content">
        <div class="container">
            {% for produto in todos_produtos %}
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">{{ produto.descricao }}</div>
                        <div class="panel-body">Marca.: {{ produto.marca }} </br>
                            Medida.: {{ produto.unidade_de_medida }} </br>
                            {% if produto.imagem %}
                                <img src="{{ produto.imagem.url }}" alt="Era pra aparecer uma imagem aqui!"><br>
                                {{ produto.imagem.url }}<br>
                                {{ produto.imagem }}<br>
                                <img src="../../../media/img_produtos/arroz.jpg" alt="IMG">
                            {% else %}
                                Imagem não cadastrada
                            {% endif %}</div>

                        <img src="{{ MEDIA_URL }}{{ produto.imagem }}" width="45"
                             height="30"></div>
                </div>
                </article>
            {% endfor %}
    </section>
    </div>
    </section>
{% endblock %}