{% extends "supermarket/layout.html" %}

{% block titulo %} SuperMarket - Promoções {% endblock %}

{% block menu_lateral_esquerdo %}

{% endblock %}

{% block menu_lateral_direito %}
    <div class="panel panel-success">
        <div class="panel-heading"><span class="glyphicon glyphicon-filter"></span> Filtrar</div>
         <div class="panel-body">
{#            {% for cliente in clientes %}#}
{#                <p><a href="{% url 'supermarket.filtro_promocao' cliente.id %}">{{ cliente.nome_fantasia }}</a></p>#}
{#            {% endfor %}#}
{#            <hr>#}
            <p><a href="{% url 'supermarket.promocoes' %}">Todas promoções</a></p>
        </div>
    </div>
{#{% for title_produto in produto_descricao %}#}
{#    <div class="panel panel-info">#}
{#        <div class="panel-heading"><span class="glyphicon glyphicon-sort"></span> Organizar</div>#}
{#        <div class="panel-body">#}
{#            <p><a href="#">Maior preço</a></p>#}
{#            <p><a href="#">Menor preço</a></p>#}
{#        </div>#}
{#    </div>#}
{#{% endfor %}#}
{#    <div class="panel panel-success">#}
{#        <div class="panel-heading"><span class="glyphicon glyphicon-tasks"></span> Ações</div>#}
{#        <div class="panel-body">#}
{#            <p><a href="{% url 'supermarket.nova_promocao' %}">Inserir</a></p>#}
{#        </div>#}
{#    </div>#}

{% endblock %}

{% block principal %}
    <section xmlns="http://www.w3.org/1999/html">
        <table class="table table-responsive">
            <tbody>
            <tr>
                {% for title_produto in produto_descricao %}
                    <td style="vertical-align:middle" width="200" height="220">
                        <img class="img-responsive" src="{{ title_produto.imagem.url }}" width="200" height="200">
                    </td>
                    <td style="vertical-align:middle"><h2>{{ title_produto.descricao }}<br>
                        {{ title_produto.marca }} -
                        {{ title_produto.unidade_de_medida }}</h2></td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
            <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>Estabelecimento</th>
                <th>Valor</th>
                <th>Válido até</th>
            </tr>
            </thead>
        <tbody>
        {% for produto in todos_produtos %}
            <tr>
                <td>{{ produto.cliente.nome_fantasia }}</td>
                <td>R$ {{ produto.valor }}</td>
                <td>{{ produto.data_fim }}</td>
            </tr>
        {% empty %}
            <h2>Sem promoções no momento!</h2>
        {% endfor %}
        </tbody>
        </table>
    </section>
{% endblock %}