{% extends "supermarket/layout.html" %}
{% block class_sobre %} class="active" {% endblock %}
{% block titulo %} SuperMarket - Sobre{% endblock %}

{% block menu_lateral_esquerdo %}

{% endblock %}

{% block menu_lateral_direito %}

{% endblock %}

{% block principal %}
    <!-- Container (About Section) -->
    <div id="about" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="page-header">Sobre o SuperMarket</h2><br>
                <p>A Internet vem tomando proporções cada vez maiores e, com isso,
                    influenciando nosso cotidiano e modificando completamente o comportamento da sociedade. Uma das
                    grandes
                    evoluções da tecnologia, que acarretaram tal mobilidade, foi o lançamento dos smartphones e seus
                    aplicativos, que possuem funcionalidades específicas e saciam as necessidades que o usuário encontra
                    em
                    determinado momento e, consequentemente, ganham cada vez mais utilidades e espaço no nosso cotidiano
                    e,
                    assim, o presente projeto objetiva desenvolver um aplicativo para dispositivos móveis, plataforma
                    Android, que promova a divulgação de promoções de supermercados aos consumidores, inicialmente do
                    município de Cacoal/RO.</p>
                <p>O desenvolvimento do aplicativo será feito com base no paradigma de
                    programação
                    orientada a objetos em conjunto com sistema de banco de dados. Almeja-se que o aplicativo
                    possibilite,
                    aos usuários, visualizar as ofertas de cada estabelecimento e, proporcionar assim, uma ampla
                    pesquisa de
                    preço de forma rápida e simples. Espera-se, ainda, a redução da utilização de material impresso,
                    comumente utilizada para tais divulgações.</p>
                <br>
            </div>
        </div>
    </div>
{% endblock %}