{% extends "supermarket/layout.html" %}

{% block titulo %} SuperMarket - Sobre{% endblock %}

{% block menu_lateral_esquerdo %}

{% endblock %}

{% block menu_lateral_direito %}

{% endblock %}

{% block principal %}
    <section xmlns="http://www.w3.org/1999/html">
        <br>
        <div class="panel panel-success">
            <div class="panel-heading"><h3>Sobre</h3></div>
            <div class="panel-body"><p align="justify">As guerras marcaram a história do mundo, não só pelos seus
                resultados óbvios, mas também pelas inovações por elas proporcionadas. A Guerra Fria, por exemplo, foi
                fator primordial para o desenvolvimento do que se conhece, hoje, por Internet. Essa forma de comunicação
                avançou significativamente ao longo dos anos, deixando de ser uma rede totalmente privada do exército
                americano e universidades e se tornar acessível à sociedade. Desde então, a Internet vem tomando
                proporções cada vez maiores e, com isso, influenciando nosso cotidiano e modificando completamente o
                comportamento da sociedade, em especial na mobilidade que esses avanços proporcionam. Uma das grandes
                evoluções da tecnologia, que acarretaram tal mobilidade, foi o lançamento dos smartphones e seus
                aplicativos, que possuem funcionalidades específicas e saciam as necessidades que o usuário encontra em
                determinado momento e, consequentemente, ganham cada vez mais utilidades e espaço no nosso cotidiano e,
                com intuito de fortalecer essa evolução, o presente projeto objetiva desenvolver um aplicativo para
                dispositivos móveis, plataforma Android, que promova a divulgação de promoções de supermercados aos
                consumidores, inicialmente do município de Cacoal/RO.</p>
                <p align="justify">O desenvolvimento do aplicativo será feito com
                    base no paradigma de programação orientada a objetos em conjunto com uma IDE (Integrated Development
                    Environment) específica para desenvolvimento para plataforma Android e um sistema de banco de dados.
                    Almeja-se que o aplicativo possibilite, aos usuários, visualizar as ofertas de cada estabelecimento
                    em
                    seus smartphones e, proporcionar assim, uma ampla pesquisa de preço de forma rápida e simples.
                    Espera-se, ainda, que a utilização do aplicativo, como meio de divulgação de ofertas contribua,
                    significativamente, para redução da utilização de material impresso, comumente utilizada para tais
                    divulgações.</p>
            </div>
        </div>
    </section>
{% endblock %}