<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    {% block head %} {% endblock %}
    <title>{% block titulo %}SuperMarket{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/css/supermarket.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css"/>


    {% block link_css %} {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
    <style>
        {% block style %} {% endblock %}
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% load static %}
            <a class="navbar-brand navbar-brand-market"><img src="{% static '/img/logo.png' %}"
                                                             style="height: 170%; border-radius: 10%"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li{% block class_home %}{% endblock %}><a href="{% url 'supermarket.home' %}"><i
                        class="fa fa-home" style="font-size:16px"></i>
                    Home</a></li>
                <li{% block class_promocoes %}{% endblock %}><a href="{% url 'supermarket.promocoes' %}"><i
                        class="fa fa-shopping-cart" style="font-size:16px"></i>
                    Promoções</a></li>
                <li {% block class_sobre %}{% endblock %}><a href="{% url 'supermarket.sobre' %}"><i
                        class="fa fa-question-circle-o" style="font-size:16px"></i>
                    Sobre</a></li>
                <li{% block class_contato %}{% endblock %}><a href="{% url 'supermarket.contato' %}"><i
                        class="fa fa-envelope-o" style="font-size:16px"></i> Contato</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i
                                class="fa fa-user-o"
                                style="font-size:16px;"></i><span> {{ request.user.username }}</span><span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if request.user.userprofile.cliente %}
                                <li>
                                    <a href="{% url 'supermarket.nova_promocao' %}"><i
                                            class="fa fa-pencil-square-o" style="font-size:16px"></i> Nova promoção</a>
                                </li>
                                <li>
                                    <a href="{% url 'supermarket.minhas_promocoes' %}"><i
                                            class="fa fa-pencil-square" style="font-size:16px"></i> Minhas promoções</a>
                                </li>
                                <li class="divider"></li>
                            {% endif %}
                            {% if request.user.is_staff %}
                                <li>
                                    <a href="{% url 'admin:login' %}" target="_blank"><i
                                            class="fa fa-tasks" style="font-size:16px"></i> Admin</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'supermarket.meus_dados' %}"><i
                                        class="fa fa-user-circle-o" style="font-size:16px"></i> Meus dados</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a data-toggle="modal" href="#modal-logout"><i
                                        class="fa fa-sign-out" style="font-size:16px;"></i> Sair</a>
                            </li>

                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-lock"></i> Acesso</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'login_register' %}"><i
                                        class="fa fa-address-card-o" style="font-size:16px;"></i> Cadastre-se</a>
                            </li>
                            <li>
                                <a href="{% url 'login' %}"><i
                                        class="fa fa-sign-in" style="font-size:16px;"></i> Login</a>
                            </li>

                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block principal %} {% endblock %}

<footer class="footer-market">
    <p>Copyright © - Todos os direitos reservados</p>
</footer>
{% block script %}{% endblock %}
</body>
<!-- Modal LOGOUT-->
<div class="modal fade" id="modal-logout" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <form method="POST" action="{% url 'logout' %}" class="post-form">
                {% csrf_token %}

                <div class="modal-header" style="padding:15px 50px; text-align: center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title"><span class="glyphicon glyphicon-off"></span> Logout</h3>
                </div>

                <div class="modal-body" style="padding:10px 10px;">
                    <p class="text-center">Deseja realmente sair?</p>
                </div>

                <div class="modal-footer">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-default btn-block" data-dismiss="modal" autofocus/>
                        Cancelar</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-danger btn-block">Sair</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</html>